@use  "pico.amber.min.css"

html
  background-color: #fff

h1, h2, h3, ul  
  color: #000

body 
  margin: 3em
  
header
  text-align: center
  display: flex
  justify-content: center

div
  text-align: center

.info
  cursor: pointer
  height: 30px
  width: 30px
  
button
  margin: 0.5em
  /* wenn vertikal dann */
  /* display: block */
